@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/loader.css';
@import '@/styles/themes/generated.css';

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
